@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace !important;
}

html, body{
    height: 100%;
}

body {
    background-color: hsl(0, 0%, 4%);
}

.horizontal-center{
    margin: auto;
}